<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">
                    <div class="col-sm-4">
                        <h4 class="card-title">Upload JSON File</h4>
                    </div>
                    <div class="col-sm-4">
                        <form [formGroup]="form">
                            <button class="btn-primary" (click)="filePicker.click()">Upload File</button>
                            <div *ngIf="status">
                                <span *ngIf="!uploaded" class="status badge badge-primary">Uploading</span>
                                <span *ngIf="uploaded" class="status badge badge-success">Uploaded</span>
                            </div>

                            <input type="file" #filePicker (change)="onFilePicked($event)">
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div *ngIf="!isFiles">
                            <span>{{message}}</span>
                        </div>
                        <table class="table" *ngIf="isFiles">
                            <thead class=" text-primary">
                                <th>
                                    File Name
                                </th>
                                <th>
                                    Upload On
                                </th>
                                <th>
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of files">
                                    <td>
                                        {{file.fileName}}
                                    </td>
                                    <td>
                                        {{file.uploadTime | date:"medium"}}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="donwloadExcel(file._id)">
                                            Download Excel
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>